@rendermode InteractiveServer

@if (IsVisible)
{
    <div class="fixed z-10" aria-labelledby="modal" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-black/20 transition-opacity" aria-hidden="true" @onclick="OnBackgroundClick"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform rounded-[16px] bg-white border border-border text-left drop-shadow-2xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="h-full w-full rounded-[16px] overflow-hidden text-left drop-shadow-xl">
                        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task OnBackgroundClick()
    {
        await OnClose.InvokeAsync();
    }
}
