@page "/signup"
@inject ILogger<SignUp> Logger

<PageTitle>Sign In</PageTitle>

<div class="pt-[80px]">
    <div class="space-y-[16px] border border-border px-[20px] py-[24px] drop-shadow-2xl rounded-[16px] bg-sBackground mt-[80px]">
        <div class="space-y-[8px]">
            <h1 class="text-[24px] font-semibold">
                Sign up to Konn
            </h1>
            <span class="text-sText">
                Tell us about you.
            </span>
        </div>

        <div class="w-[350px]">
           <SignUpForm />
        </div>

        <div class="flex space-x-[4px]">
            <span class="text-sText">
                Already have an account?
            </span>

            <NavLink class="font-semibold text-pText hover:text-qText transition ease-in-out" href="signin" Match="NavLinkMatch.All">
                <span class="font-'semibold' text-pText" aria-hidden="true">Sign In</span>
            </NavLink>
        </div>
    </div>
</div>

@code {

}