<div class="flex flex-col gap-y-[16px] w-full max-w-[800px]">
    <div class="">
        <span class="text-pText font-semibold">Contacts</span>
        <span class="text-pText/50 font-semibold">(@Contacts.Count)</span>
    </div>

    <InputText id="search" @bind-Value="@SearchValue" placeholder="Search a contact" class="px-[14px] py-[8px] border border-border focus:border-pText hover:border-sText rounded-[8px] transition-all easei-in-out" />
</div>

@code {
    public string SearchValue { get; set; } = string.Empty;

    public List<Contact> Contacts { get; set; } = default!;

    protected override void OnInitialized()
    {
        Contacts = MockDataService.Contacts;
    }
}
