@page "/workspace/{WorkspaceId:int}/categories"
@using KonnClient.Components.Pages.FeatCategories
@using KonnClient.Components.Pages.FeatContact
@using KonnClient.Data
@using KonnClient.Data.Models
@using static KonnClient.Components.Shared.KonnTabs
@rendermode InteractiveServer
@inject ILogger<WorkspaceOverview> Logger
@inject NavigationManager Navigation
@inject IDbContextFactory<KonnDbContext> ContextFactory

<PageTitle>@Workspace?.Name</PageTitle>

<div class="flex flex-col gap-y-[32px] w-full pb-[80px]">
    <WorkspaceInformation Workspace="@Workspace"/>

    <div class="flex w-full gap-y-[32px] flex flex-col items-center">
        <div class="space-y-[24px] max-w-[800px] w-full">
            <div class="flex w-full space-x-[20px] flex flex-col items-center">
                <CategoriesList WorkspaceId="@WorkspaceId" />
            </div>

            <div class="h-[1px] bg-border w-full max-w-[800px]" />

            <div class="text-sText/40 font-medium text-[14px]">Learn more about adding categories</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    public Workspace? Workspace { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var _context = ContextFactory.CreateDbContext();

            Workspace = await _context.Workspaces
                .FindAsync(WorkspaceId);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }
}
