@using KonnClient.Data.Models
@rendermode InteractiveServer

<NavLink href="@($"/workspace/{Workspace.Id}/overview")" Match="NavLinkMatch.All">
    <div class="flex items-center between space-x-4 p-[12px] rounded-[12px] hover:bg-sBackground transition-all ease-in-out cursor-pointer bg-sBackground border border-border">
        <div class="h-[48px] w-[48px] rounded-[4px] bg-tBackground"></div>

        <div class="flex flex-col">
            <span class="font-semibold text-pText">
                @Workspace.Name
            </span>

            <span class="text-sText/50">
                @Workspace.Description
            </span>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public Workspace Workspace { get; set; } = default!;
}