@page "/workspaces"
@inject ILogger<Workspaces> Logger

<PageTitle>Explore Workspaces</PageTitle>

<div class="space-y-[24px] max-w-[800px]">
    <div class="space-y-[8px]">
        <h1 class="text-[36px] font-bold">Workspaces</h1>
        <span class="text-sText">Every week, we feature some of our favourite workspaces of different users. You can also check out some great calendars from the community.</span>
    </div>

    <div class="flex flex-col space-y-[8px]">
        @foreach (var workspace in WorkspaceList)
        {
            <WorkspaceRow Workspace="@workspace" />
        }
    </div>
</div>

@code {
    public List<Workspace> WorkspaceList { get; set; } = default!;

    protected override void OnInitialized()
    {
        WorkspaceList = MockDataService.Workspaces;
    }
}
