@using KonnAPI.Dto
@inject ILogger<SignInForm> Logger
@inject NavigationManager Navigation
@inject IConfiguration Configuration

<EditForm Model="SignInData" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit" FormName="SignInModel" class="w-full flex flex-col gap-y-[24px]">
    <DataAnnotationsValidator />

    <div class="flex flex-col space-y-[12px]">
        <div class="flex flex-col space-y-[4px]">
            <label class="font-medium" for="email">
                Email
            </label>
            <InputText id="email" @bind-Value="@SignInData.Email" placeholder="you@email.com" class="px-[14px] py-[8px] border border-border focus:border-pText hover:border-sText rounded-[12px] transition-all easei-in-out" />
            <ValidationMessage class="text-danger" For="@(() => SignInData.Email)" />
        </div>

        <div class="flex flex-col space-y-[4px]">
            <label class="font-medium" for="password">
                Password
            </label>
            <InputText id="password" @bind-Value="@SignInData.Password" placeholder="******" class="px-[14px] py-[8px] border border-border focus:border-pText hover:border-sText rounded-[12px] transition-all easei-in-out" />
            <ValidationMessage class="text-danger" For="@(() => SignInData.Password)" />
        </div>
    </div>

    <KonnButton Text="Sign In" Type="primary" ClassName="w-full" />
</EditForm>

@code {
    [SupplyParameterFromForm]
    public SignInDto? SignInData { get; set; } = new SignInDto();

    protected override void OnInitialized() => SignInData ??= new();

    private void OnValidSubmit()
    {
        Logger.LogInformation("Attempting to sign in with Email = {Email}", SignInData?.Email);
    }

    private void OnInvalidSubmit()
    {
    }
}