@page "/signin"
@inject ILogger<SignIn> Logger

<PageTitle>Sign In</PageTitle>

<div class="pt-[80px]">
    <div class="space-y-[16px] border border-border px-[20px] py-[24px] drop-shadow-2xl rounded-[16px] bg-sBackground">
        <div class="space-y-[8px]">
            <h1 class="text-[24px] font-semibold">
                Welcome to Konn
            </h1>
            <span class="text-sText/40 font-medium">
                Please sign in or sign up below.
            </span>
        </div>

        <div class="w-[350px]">
           <SignInForm />
        </div>

        <div class="flex space-x-[4px]">
            <span class="text-sText/40 font-medium">
                Dont have an account?
            </span>

            <NavLink class="font-semibold text-pText hover:text-qText transition ease-in-out" href="signup" Match="NavLinkMatch.All">
                <span class="font-'semibold' text-pText" aria-hidden="true">Sign Up</span>
            </NavLink>
        </div>
    </div>
</div>
@code {

}