@inherits LayoutComponentBase

<div class="light h-full">
    <div>
        <NavMenu />

        <main class="flex justify-center pt-[20px] h-full">
            @Body
        </main>
    </div>
</div>
