@inherits LayoutComponentBase

<div class="light h-full">
    <div>
        <NavMenu />

        <main class="flex justify-center pt-[20px] h-full">
            <div class="max-w-[800px]">
                @Body
            </div>
        </main>
    </div>
</div>
