@inherits LayoutComponentBase

<HeadContent>
    <style>
        html, body {
            overflow-y: scroll
        }
    </style>
</HeadContent>

<div class="light h-full">
    <div class="relative">
        <NavMenu />

        <main class="flex justify-center h-full">
            @Body
        </main>
    </div>
</div>
