<div class="fixed flex flex-row items-center justify-between px-4 py-[8px] w-full bg-primary/[0.01] backdrop-blur-md border-b border-border">
    <h1 class="text-lg font-bold flex-1 text-pText/50 hover:text-pText transition-all ease-in-out cursor-pointer">Konn</h1>

    <div class="flex items-center space-x-4">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="py-[4px] px-[8px] text-pText/50 hover:text-pText font-medium" aria-hidden="true">Nav Tree</span>

        </NavLink>
        <NavLink class="nav-link" href="workspaces" Match="NavLinkMatch.All">
            <span class="py-[4px] px-[8px] text-pText/50 hover:text-pText font-medium" aria-hidden="true">Explore Workspaces</span>
        </NavLink>

        <NavLink href="signin" Match="NavLinkMatch.All">
            <KonnButton Size="sm" Text="Sign In" />
        </NavLink>
    </div>
</div>