@using KonnClient.Data.Models
<NavLink href="@($"/workspace/{WorkspaceId}/contact/{Contact.Id}")" Match="NavLinkMatch.All">
    <div class="h-[150px] flex flex-col between space-y-4 p-[12px] rounded-[12px] hover:bg-sBackground transition-all ease-in-out cursor-pointer bg-sBackground border border-white hover:border-primary/20">
        <div class="flex items-start justify-between">
            <div class="h-[66px] w-[66px] rounded-[12px] border border-white bg-tBackground flex items-center justify-center">
            </div>

            <KonnButton Size="sm" Variant="secondary" Text="Manage" />
        </div>

        <div class="flex flex-col gap-x-[10px]">
            <span class="font-medium text-pText truncate">
                @Contact.Name
            </span>

            <span class="text-sText/50 truncate">
                @Contact.Email
            </span>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    [Parameter]
    public Contact Contact { get; set; } = default!;
}