@using KonnClient.Data.Models
<NavLink href="@($"/workspace/{WorkspaceId}/contacts/{Contact.Id}")" Match="NavLinkMatch.All">
    <div class="h-[150px] flex flex-col between space-y-4 p-[12px] rounded-[12px] hover:bg-sBackground transition-all ease-in-out cursor-pointer bg-sBackground border border-white hover:border-primary/20">
        <div class="flex items-start justify-between">
            <div class="h-[66px] w-[66px] rounded-[12px] border border-border bg-primary flex items-center justify-center drop-shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" /><circle cx="12" cy="7" r="4" /></svg>
            </div>

            <KonnButton Size="sm" Variant="secondary" Text="Manage" />
        </div>

        <div class="flex flex-col gap-x-[10px]">
            <span class="font-medium text-pText truncate">
                @Contact.Name
            </span>

            <span class="text-sText/50 truncate">
                @Contact.Email
            </span>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    [Parameter]
    public Contact Contact { get; set; } = default!;
}