@rendermode InteractiveServer

<div>
    <KonnButton Text="Delete Category" Danger="true" OnClick="(() => IsDeleteCategoryVisible = true)"/>

    <KonnModal IsVisible="@IsDeleteCategoryVisible" OnClose="@(() => IsDeleteCategoryVisible = false)">
        <div class="flex flex-col space-y-[16px]">
            <div>
                <div class="text-lg text-pText font-semibold">Delete Category</div>
                <div class="text-sText/40 font-medium">
                    Invite subscribers, contacts and past guests via email or SMS.
                </div>
            </div>

            <KonnButton Class="w-full" Danger Text="Delete Category" />
        </div>
    </KonnModal>
</div>

@code {
    [Parameter]
    public int CategoryId { get; set; } = default!;

    public bool IsDeleteCategoryVisible { get; set; } = false;
}
