@page "/workspace/{WorkspaceId:int}/categories"
@using KonnClient.Components.Pages.FeatContact
@using KonnClient.Data
@using KonnClient.Data.Models
@using static KonnClient.Components.Shared.KonnTabs
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>@Workspace?.Name</PageTitle>

<div class="flex flex-col gap-y-[32px] w-full pb-[80px]">
    <div class="w-full flex flex-col items-center border-b border-border pt-[20px] space-y-[32px] bg-gradient-to-b from-[#2874fe20] via-[#28fefb07] to-transparent pt-[80px]">
        <div class="space-y-[24px] max-w-[800px] w-full">
            <div class="space-y-[8px]">
                <h1 class="text-[36px] font-semibold">@Workspace?.Name</h1>
                <span class="text-sText/40 font-medium">@Workspace?.Description</span>
            </div>
        </div>

        <div class="flex w-full max-w-[800px] space-x-[20px]">
            <KonnTabs SelectedTab="@SelectedTab" TabOptions="@TabOptions" OnTabSelected="HandleTabSelected" />
        </div>
    </div>

    <div class="flex w-full gap-y-[32px] flex flex-col items-center">
        <div class="space-y-[24px] max-w-[800px] w-full">

            <div class="h-[1px] bg-border w-full max-w-[800px]" />



        </div>
    </div>
</div>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }
    [Parameter]
    public int ContactId { get; set; }

    public string SelectedTab { get; set; } = "categories";

    public Workspace? Workspace { get; set; }

    public Category? Category { get; set; }

    public List<TabModel> TabOptions { get; set; } = new List<TabModel>
    {
        new TabModel { Label = "Overview", Value = "overview" },
        new TabModel { Label = "Categories", Value = "categories" },
        new TabModel { Label = "Trash", Value = "trash" },
        new TabModel { Label = "Settings", Value = "settings" }
    };

    protected override async Task OnInitializedAsync()
    {
        if (WorkspaceId == null)
        {
            throw new Exception("WorkspaceId is null or empty");
        }

    }

    private void HandleTabSelected(string selectedTab)
    {
        if (selectedTab == "overview")
        {
            Navigation.NavigateTo($"/workspace/{WorkspaceId}/overview");
        }
        else if (selectedTab == "categories")
        {
            Navigation.NavigateTo($"/workspace/{WorkspaceId}/categories");
        }
        else if (selectedTab == "trash")
        {
            Navigation.NavigateTo($"/workspace/{WorkspaceId}/trash");
        }
        else if (selectedTab == "settings")
        {
            Navigation.NavigateTo($"/workspace/{WorkspaceId}/settings");
        }

        SelectedTab = selectedTab;
    }
}
